html {
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #f5f2f0;
  font-family: Georgia, serif;
  margin-top: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100;
}

body {
  margin: 0;
}

main {
  background-color: #f5f2f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Denk One';
  color: #623b0c;
  padding: 0;
  margin: 1rem 1rem 1.5;
}

h2 {
  font-family: 'Denk One';
  color: #623b0c;
  margin: 0 0 1.5rem;
  padding: 0;
}

ol {
  padding-left: 0;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
